{% extends "base.html" %}

{% block content %}
	<h1>View Redirects for: {{user.username}}</h1>
	
	<div class="newBtn">
		<a href="/users/{{user.id}}">
			<button class="btn btn-default">Back</button>
		</a>
		<a href="/users/{{user.id}}/redirects/new">
			<button class="btn btn-default">New Redirect</button>
		</a>
	</div>
	
	<div id="titleDividerLine"></div>
	{% for redirect in redirects %}
		<div class="userBox infoBox">
			<div class="col-xs-10">
				<div class="fullName">{{redirect.title}}</div>
				<div class="fullName">{{redirect.url}}</div>
			</div>
			<div class="col-xs-2 viewBtn">
				<a href="/users/{{user.id}}/redirects/{{redirect.id}}"><button class="btn btn-default">View</button></a>
			</div>
		</div>
	{% endfor %}
{% endblock %}