{% extends "base.html" %}

{% block content %}
	<h1>Shorty</h1>
	
	<div class="newBtn">
		<a href="/users/new">
			<button class="btn btn-default">New User</button>
		</a>
	</div>
	<div id="titleDividerLine"></div>
	{% for user in users %}
		<div class="userBox infoBox">
			<div class="col-xs-10">
				<div class="fullName">{{user.username}}</div>
			</div>
			<div class="col-xs-2 viewBtn">
				<a href="/users/{{user.id}}"><button class="btn btn-default">View</button></a>
			</div>
		</div>
	{% endfor %}
{% endblock %}